# =========================================
# General
# =========================================
# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.war
*.ear

# =========================================
# macOS
# =========================================
.DS_Store

# =========================================
# Eclipse
# =========================================
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.project
.settings/

# =========================================
# Xtext / Gradle / Maven
# =========================================
.gradle
build/
src-gen/
xtend-gen/
target/

# =========================================
# IntelliJ IDEA
# =========================================
.idea/
*.iml
*.iws

