<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.xtext.org/example/pattern/Pattern"
			class = "org.xtext.example.pattern.pattern.PatternPackage"
			genModel = "model/generated/Pattern.genmodel" />
	</extension>
</plugin>
